:root {
    --cannoli-cream: #f2f1e2;
    --cream-tan: #e4c6b6;
    --safari: #bba991;
    --sirocco: #c39c89;
    --mocha-mousse: #a57964;
    --chanterelle: #a38676;
    --baltic-amber: #8b655a;
    --chocolate-martini: #56453e;
}
