:root {
    --cannoli-cream: 242,241,226;
    --cream-tan: 228,198,182;
    --safari: 187,169,145;
    --sirocco: 195,156,137;
    --mocha-mousse: 165,121,100;
    --chanterelle: 163,134,118;
    --baltic-amber: 139,101,90;
    --chocolate-martini: 86,69,62;
}
